body {
	background: url('background.png');
	margin: 0 !important;
  padding: 0 !important;
}

.main {
	position: absolute;
  background-color: #333333;
	max-width: 600px;
	left: 395px;
	margin: 0 auto;
}

.main .logo {
	width: 600px;
}

.logo img {
	padding-left: 60px;
	padding-top: 30px;
	width: 100px;
}

.main .heading {
	max-width: 500px;
}

.heading p {
	font-family: 'Lato', sans-serif;
	padding-left: 60px;
	margin-left: 0 auto;
	color: #ffffff;
	font-size: 30px;
	font-weight: bolder;
	word-spacing: 3px;
}

.main .intro {
	max-width: 540px;
	text-align: justify;
}

.intro p{
	font-family: 'Lato', sans-serif;
	padding-left: 60px;
	margin-left: 0 auto;
	color: #ffffff;
	font-size: 14px;
}

.main .links {
	max-width: 540px;
	text-align: justify;
}

.links p {
	font-family: 'Lato', sans-serif;
	padding-left: 60px;
	margin-left: 0 auto;
	color: #ffffff;
	font-size: 14px;
}

.links a {
	color: inherit;
}

.links a:hover {
	color: blue;
}

.main .invite {
	max-width: 540px;
}

.invite p {
	font-family: 'Lato', sans-serif;
	padding-left: 60px;
	margin-left: 0 auto;
	color: #ffffff;
	font-size: 25px;
	word-spacing: 3px;
}
.invite img {
	padding-left: 60px;
}

.main .footnote {
	max-width: 540px;
	text-align: justify;
}

.footnote p {
	font-family: 'Lato', sans-serif;
	padding-left: 60px;
	padding-top: 20px;
	margin-left: 0 auto;
	color: #ffffff;
	font-size: 10px;
}

.main .footer {
	max-width: 600px;
	height: 105px;
}
