body {
  /*background: #e9e9e9;*/
  background-color: #58585B;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Banner */
.banner {
  width: 100%;
  height: 50px;
}

/* Form Module */
.form-module {
  position: relative;
  background: #E9AC07;
  max-width: 400px;
  width: 100%;
  border-top: 5px solid #808086;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #808086;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(128, 128, 134, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  color: #000000;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(128, 128, 134, 0.6);
}

.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #808086;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module input:focus {
  border: 1px solid #808086;
  color: #808086;
}

.form-module .avatar {
  width: 300px;
  height: 225px;
  border: 5px solid #ffffff;
  margin: 0 auto;
  /*overflow: hidden;*/
  background: #ffffff;
}

.form-module .avatar-button i {
  color: white;
  font-size: 40px;
  margin: 0 auto;
}

.form-module .avatar-button i:hover {
  color: #E9AC07;
}

.form-module .avatar-button button {
  cursor: pointer;
  background-color: inherit;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: all 0.3s ease;
}

.form-module .avatar-button button:hover {
  background: #2E2E30;
}

.form-module .avatar img {
  width: 300px;
  height: 225px;
}

.form-module .avatar video{
  width: 300px;
  height: 225px;
}

.form-module .avatar h1 {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
}

.form-module .label {
  color: gray;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  padding-bottom: 20px;
}

.form-module button {
  cursor: pointer;
  background: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 10px 15px;
  color: #000000;
  -webkit-transition: 0.3s ease;
  transition: all 0.3s ease;
}

.form-module button:hover {
  background: #808086;
}

.form-module ul {
  list-style-type: circle;
  color: #58585B;
}

.form-module h2 {
  color: #58585B;
}

.form-module li {
  padding: 5px;
}

.form-module img {
  width: 300px;
  border: 1px solid #d9d9d9;
}

div.container {
  display: none;
  position: relative;
  width: 100%;
  /*overflow: hidden;*/
}

div.container > div {
  position: relative;
  top: inherit;
}

div.container img {
  position: absolute;
  display: block;
  margin: 0px;
  border: none;
  padding: 0px;
  background: white;
}

div.container div {
  position: absolute;
}

/* Readme button*/

.readme-btn {
  padding-left: 15px;
  padding-top: 10px;
  width: 50px;
}

.readme {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /*border: 1px solid #f5f5f5;*/
  border-radius: 50%;
  color: #e9ac07;
  text-align: center;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 12px;
  font-weight: bold;
}

.readme:hover {
  background: #262626;
}

/* chairs at the top */
.chair0 img {
	top: 78px;
	left: 427px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair1 img {
	top: 78px;
	left: 498px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair2 img {
	top: 78px;
	left: 568px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair3 img {
	top: 78px;
	left: 639px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair4 img {
	top: 78px;
	left: 709px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair5 img {
	top: 78px;
	left: 780px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair6 img {
	top: 78px;
	left: 849px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair24 img {
	top: 21px;
	left: 498px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair25 img {
	top: 21px;
	left: 568px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair26 img {
	top: 21px;
	left: 639px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair27 img {
	top: 21px;
	left: 709px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair28 img {
	top: 21px;
	left: 780px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

/* chairs at the bottom */

.chair12 img {
	top: 522px;
	left: 849px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair13 img {
	top: 522px;
	left: 779px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair14 img {
	top: 522px;
	left: 709px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair15 img {
	top: 522px;
	left: 639px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair16 img {
	top: 522px;
	left: 568px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair17 img {
	top: 522px;
	left: 498px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair18 img {
	top: 522px;
	left: 427px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair32 img {
	top: 579px;
	left: 779px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair33 img {
	top: 579px;
	left: 709px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair34 img {
	top: 579px;
	left: 639px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair35 img {
	top: 579px;
	left: 568px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair36 img {
	top: 579px;
	left: 498px;
  width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

/* chairs at the left */

.chair19 img {
	top: 408px;
	left: 289px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair20 img {
	top: 348px;
	left: 289px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair21 img {
	top: 287px;
	left: 289px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair22 img {
	top: 227px;
	left: 289px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair23 img {
	top: 167px;
	left: 289px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair37 img {
	top: 348px;
	left: 218px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair38 img {
	top: 287px;
	left: 218px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair39 img {
	top: 227px;
	left: 218px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

/* chairs at the right */

.chair7 img {
	top: 167px;
	left: 989px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair8 img {
	top: 227px;
	left: 989px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair9 img {
	top: 287px;
	left: 989px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair10 img {
	top: 347px;
	left: 989px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair11 img {
	top: 408px;
	left: 989px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair29 img {
	top: 227px;
	left: 1059px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair30 img {
	top: 287px;
	left: 1059px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

.chair31 img {
	top: 347px;
	left: 1059px;
	width: 48px;
	height: 42px;
  object-fit: cover;
  overflow: hidden;
}

/* main chairs in conference */

.frame1 {
  left: 355px;
  top: 135px;
  width: 308px;
  height: 158px;
  outline: 1px solid gray;
  background: #ffffff;
  overflow: hidden;
}

.frame1 img {
  object-fit: contain;
}

.frame2 {
  left: 663px;
  top: 135px;
  width: 308px;
  height: 158px;
  background: #bfbfbf;
  outline: 1px solid gray;
  overflow: hidden;
}

.frame2 img {
   object-fit: contain;
}

.frame3 {
  left: 355px;
  top: 292px;
  width: 308px;
  height: 158px;
  outline: 1px solid gray;
  background: #ffffff;
  overflow: hidden;
}

.frame3 img {
  object-fit: contain;
}

.frame4 {
  left: 663px;
  top: 292px;
  width: 308px;
  height: 158px;
  background-color: #bfbfbf;
  outline: 1px solid gray;
  overflow: hidden;
}

.frame4 img {
  object-fit: contain;
}

.joinbutton {
  left: 355px;
  top: 465px;
}

.joinbutton button {
  width: 616px;
  height: 41px;
  border: 0;
  cursor: pointer;
  background: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
}

/* modal */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

#modal {
  position: absolute;
  background: #58585B;
  padding: 3px;
}

#content {
  background: #e9ac07;
  padding: 20px;
}

#content h2 {
  margin: 0 0 20px;
  color: #58585B;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  text-align: center;
}

#content ul {
  list-style-type: circle;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  color: #58585B;
  margin: 10px;
}

#content li {
  padding: 5px;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

#close {
  position: absolute;
  background: url('close.png') 0 0 no-repeat;
  width: 24px;
  height: 27px;
  display: block;
  text-indent: -9999px;
  top: -7px;
  right: -7px;
}
