body {
  /*background: #e9e9e9;*/
  background-color: #58585B;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
}

/* Banner */
.banner {
  width: 100%;
  height: 50px;
}

/* Form Module */
.form-module {
  position: relative;
  background: #2E2E30;
  max-width: 400px;
  width: 100%;
  border-top: 5px solid #808086;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #808086;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(128, 128, 134, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  color: #000000;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(128, 128, 134, 0.6);
}

.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #808086;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module input:focus {
  border: 1px solid #808086;
  color: #808086;
}

.form-module .avatar {
  width: 300px;
  height: 225px;
  border: 5px solid #ffffff;
  margin: 0 auto;
  overflow: hidden;
  background: #ffffff;
}

.form-module .avatar-button i {
  color: white;
  font-size: 40px;
  margin: 0 auto;
}

.form-module .avatar-button i:hover {
  color: yellow;
}

.form-module .avatar-button button {
  cursor: pointer;
  background-color: inherit;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: all 0.3s ease;
}

.form-module .avatar-button button:hover {
  background: #2E2E30;
}

.form-module .avatar img {
  width: 300px;
  height: 225px;
}

.form-module .avatar video{
  width: 300px;
  height: 225px;
}

.form-module .avatar h1 {
  color: inherit;
  font-size: 47px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}

.form-module .label {
  color: gray;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  padding-bottom: 20px;
}

.form-module button {
  cursor: pointer;
  background: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
  border: 0;
  padding: 10px 15px;
  color: #000000;
  -webkit-transition: 0.3s ease;
  transition: all 0.3s ease;
}

.form-module button:hover {
  background: #808086;
}

.form-module ul {
  list-style-type: circle;
  color: #ffffff;
}

.form-module li {
  padding: 5px;
}

.form-module img {
  width: 300px;
  border: 1px solid #d9d9d9;
}

div.container {
  display: none;
  position: relative;
  width: 100%;
  /*overflow: hidden;*/
}

div.container > div {
  position: relative;
  top: inherit;
}

div.container img {
  position: absolute;
  display: block;
  margin: 0px;
  border: none;
  padding: 0px;
  background: white;
}

div.container div {
  position: absolute;
}

/* chairs at the top */
.chair1 img {
	top: 78px;
	left: 427px;
	width: 48px;
	height: 42px;
}

.chair2 img {
	top: 78px;
	left: 498px;
  width: 48px;
	height: 42px;
}

.chair3 img {
	top: 78px;
	left: 568px;
  width: 48px;
	height: 42px;
}

.chair4 img {
	top: 78px;
	left: 639px;
  width: 48px;
	height: 42px;
}

.chair5 img {
	top: 78px;
	left: 709px;
  width: 48px;
	height: 42px;
}

.chair6 img {
	top: 78px;
	left: 780px;
  width: 48px;
	height: 42px;
}

.chair7 img {
	top: 78px;
	left: 849px;
  width: 48px;
	height: 42px;
}

.chair25 img {
	top: 21px;
	left: 498px;
  width: 48px;
	height: 42px;
}

.chair26 img {
	top: 21px;
	left: 568px;
  width: 48px;
	height: 42px;
}

.chair27 img {
	top: 21px;
	left: 639px;
  width: 48px;
	height: 42px;
}

.chair28 img {
	top: 21px;
	left: 709px;
  width: 48px;
	height: 42px;
}

.chair29 img {
	top: 21px;
	left: 780px;
  width: 48px;
	height: 42px;
}

/* chairs at the bottom */

.chair13 img {
	top: 522px;
	left: 849px;
	width: 48px;
	height: 42px;
}

.chair14 img {
	top: 522px;
	left: 779px;
  width: 48px;
	height: 42px;
}

.chair15 img {
	top: 522px;
	left: 709px;
  width: 48px;
	height: 42px;
}

.chair16 img {
	top: 522px;
	left: 639px;
  width: 48px;
	height: 42px;
}

.chair17 img {
	top: 522px;
	left: 568px;
  width: 48px;
	height: 42px;
}

.chair18 img {
	top: 522px;
	left: 498px;
  width: 48px;
	height: 42px;
}

.chair19 img {
	top: 522px;
	left: 427px;
  width: 48px;
	height: 42px;
}

.chair33 img {
	top: 579px;
	left: 770px;
  width: 48px;
	height: 42px;
}

.chair34 img {
	top: 579px;
	left: 709px;
  width: 48px;
	height: 42px;
}

.chair35 img {
	top: 579px;
	left: 639px;
  width: 48px;
	height: 42px;
}

.chair36 img {
	top: 579px;
	left: 568px;
  width: 48px;
	height: 42px;
}

.chair37 img {
	top: 579px;
	left: 498px;
  width: 48px;
	height: 42px;
}

/* chairs at the left */

.chair20 img {
	top: 408px;
	left: 289px;
	width: 48px;
	height: 42px;
}

.chair21 img {
	top: 348px;
	left: 289px;
	width: 48px;
	height: 42px;
}

.chair22 img {
	top: 287px;
	left: 289px;
	width: 48px;
	height: 42px;
}

.chair23 img {
	top: 227px;
	left: 289px;
	width: 48px;
	height: 42px;
}

.chair24 img {
	top: 167px;
	left: 289px;
	width: 48px;
	height: 42px;
}

.chair38 img {
	top: 348px;
	left: 218px;
	width: 48px;
	height: 42px;
}

.chair39 img {
	top: 287px;
	left: 218px;
	width: 48px;
	height: 42px;
}

.chair40 img {
	top: 227px;
	left: 218px;
	width: 48px;
	height: 42px;
}

/* chairs at the right */

.chair8 img {
	top: 167px;
	left: 989px;
	width: 48px;
	height: 42px;
}

.chair9 img {
	top: 227px;
	left: 989px;
	width: 48px;
	height: 42px;
}

.chair10 img {
	top: 287px;
	left: 989px;
	width: 48px;
	height: 42px;
}

.chair11 img {
	top: 347px;
	left: 989px;
	width: 48px;
	height: 42px;
}

.chair12 img {
	top: 408px;
	left: 989px;
	width: 48px;
	height: 42px;
}

.chair30 img {
	top: 227px;
	left: 1059px;
	width: 48px;
	height: 42px;
}

.chair31 img {
	top: 287px;
	left: 1059px;
	width: 48px;
	height: 42px;
}

.chair32 img {
	top: 347px;
	left: 1059px;
	width: 48px;
	height: 42px;
}

/* main chairs in conference */

.frame1 {
  left: 355px;
  top: 135px;
  width: 308px;
  height: 158px;
  outline: 1px solid gray;
  background: #ffffff;
  overflow: hidden;
}

.frame1 img {
  width: 308px;
  height: 158px;
}

.frame2 {
  left: 663px;
  top: 135px;
  width: 308px;
  height: 158px;
  background: #ffffff;
  outline: 1px solid gray;
  overflow: hidden;
}

.frame2 img {
  width: 308px;
  height: 158px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.frame3 {
  left: 355px;
  top: 292px;
  width: 308px;
  height: 158px;
  outline: 1px solid gray;
  background: #ffffff;
  overflow: hidden;
}

.frame3 img {
  width: 308px;
  height: 158px;
}

.frame4 {
  left: 663px;
  top: 292px;
  width: 308px;
  height: 158px;
  background: #ffffff;
  outline: 1px solid gray;
  overflow: hidden;
}

.frame4 img {
  width: 308px;
  height: 158px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.joinbutton {
  left: 355px;
  top: 465px;
}

.joinbutton button {
  width: 616px;
  height: 41px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  text-transform: uppercase;
}
